segmentation/data/test/*
segmentation/data/train/input/*
segmentation/data/train/bach/*
segmentation/data/train/chopin/*
segmentation/data/cremi_data
segmentation/Learned_Watershed.ipynb
segmentation/.ipynb
segmentation/Plotting.ipynb
segmentation/Test_Chopin.ipynb
segmentation/models/saved_models/Bach/*
segmentation/models/saved_models/Chopin/*
segmentation/drawingboard.ipynb
segmentation/datasets/cremi/*
segmentation/.ipynb_checkpoints/*
segmentation/datasets/Untitled.ipynb
segmentation/datasets/.ipynb_checkpoints/
.idea/*
